extends layout

block content
  script.
    $(document)
    .ready(function(){
    function generate_cards(){
    var event_array = JSON.parse('!{event_arrays}');
    for (var i = event_array.length - 1; i >=0 ; i--) {
    if(event_array[i]["event_type"]=="Birth"){
    var gen_card = document.getElementsByTagName("template")[0];
    var clon = gen_card.content.cloneNode(true);
    }
    else if(event_array[i]["verifier"]=="passport"){
    var gen_card = document.getElementsByTagName("template")[1];
    var clon = gen_card.content.cloneNode(true);
    let verifier_elem= clon.querySelector(".verifier");
    verifier_elem.innerHTML = event_array[i]["verifier"];
    }
    else if(event_array[i]["verifier"]=="aadhar"){
    var gen_card = document.getElementsByTagName("template")[2];
    var clon = gen_card.content.cloneNode(true);
    let verifier_elem= clon.querySelector(".verifier");
    verifier_elem.innerHTML = event_array[i]["verifier"];
    }
    else if(event_array[i]["event_type"]=="Education"){
    var gen_card = document.getElementsByTagName("template")[3];
    var clon = gen_card.content.cloneNode(true);
    }
    else if(event_array[i]["event_type"]=="Employment"){
    var gen_card = document.getElementsByTagName("template")[4];
    var clon = gen_card.content.cloneNode(true);
    }
    else if(event_array[i]["event_type"]=="Marriage"){
    var gen_card = document.getElementsByTagName("template")[5];
    var clon = gen_card.content.cloneNode(true);
    }
    else if(event_array[i]["event_type"]=="Migration"){
    var gen_card = document.getElementsByTagName("template")[6];
    var clon = gen_card.content.cloneNode(true);
    let event_type_elem= clon.querySelector(".event_type");
    event_type_elem.innerHTML = event_array[i]["event_type"]+" "+"Event"
    for (var key in event_array[i]["data"]) {
    console.log(key);
    if(key=="address_old"){
    let elem=clon.querySelector(".address_old");
    elem.innerHTML = event_array[i]["data"][key]["address_hno"] + ",<br>" + event_array[i]["data"][key]["address_street"] + ",<br>" + event_array[i]["data"][key]["address_city"] + ",<br>" + event_array[i]["data"][key]["address_state"] + ",<br>" + event_array[i]["data"][key]["address_pin"];
    }
    else if(key=="address_new"){
    let elem=clon.querySelector(".address_new");
    elem.innerHTML = event_array[i]["data"][key]["address_hno"] + ",<br>" + event_array[i]["data"][key]["address_street"] + ",<br>" + event_array[i]["data"][key]["address_city"] + ",<br>" + event_array[i]["data"][key]["address_state"] + ",<br>" + event_array[i]["data"][key]["address_pin"];
    }
    else{
    let elem=clon.querySelector("."+key);
    elem.innerHTML= event_array[i]["data"][key]
    }
    }
    if(i>3){
    $('#special_card').append(clon);
    }
    else{
    $('#special_card1').append(clon);
    }
    continue;
    }
    console.log(event_array[i]["event_type"])
    let event_type_elem= clon.querySelector(".event_type");
    event_type_elem.innerHTML = event_array[i]["event_type"]+" "+"Event"
    for (var key in event_array[i]["data"]) {
    let elem=clon.querySelector("."+key);
    if(elem!==null)
    elem.innerHTML= event_array[i]["data"][key]
    }
    if(i>3){
    $('#special_card').append(clon);
    }
    else{
    $('#special_card1').append(clon);
    }
    }
    }
    generate_cards();
    $('.special.cards .con').dimmer({
    on: 'hover'
    });
    });
  style(type='text/css').
    .masthead.segment {
    min-height: 100%;
    padding: 1em 0em;
    }
    .masthead .logo.item img {
    margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
    }
    .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    }
    .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    }
    .card {
    height: 250px;
    width: 100px;
    }
    .ui .cards{
    margin: 5% -37%;
    width: 200%;
    }
    .ui.cards>.card>.content>.header:not(.ui) {
    margin-top: 3.78575em;
    }
    @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
    display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
    display: none;
    }
    .secondary.pointing.menu .toc.item {
    display: block;
    }
    .masthead.segment {
    min-height: 350px;
    }
    .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
    }
    .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    }
    }
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        a.item(href='http://localhost:3000/') Home
        a.item Get your services
        a.item Log your events
        a.active.item(href='http://localhost:3000/view') View your details
        .right.item
          a.ui.inverted.button Log In
          a.ui.inverted.button Sign Up
    .ui.text.container
      #special_card.ui.special.cards
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.name
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.dob
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Birth
                      .item
                        .right.floated.content.mother_name
                          
                        i.female.icon
                        .content
                          | Mother's Name
                      .item
                        .right.floated.content.father_name
                          
                        i.male.icon
                        .content
                          | Father's Name
                      .item
                        .right.floated.content.nationality
                          
                        i.globe.icon
                        .content
                          | Nationality
                      .item
                        .right.floated.content.gender
                          
                        i.venus.mars.icon
                        .content
                          | Gender
                      .item
                        .right.floated.content.date_registration
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Registration
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.verifier
                          
                        i.id.card.icon
                        .content
                          | ID
                      .item
                        .right.floated.content.number
                          
                        i.pencil.alternate.icon
                        .content
                          | Number
                      .item
                        .right.floated.content.name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.mother_name
                          
                        i.female.icon
                        .content
                          | Mother's Name
                      .item
                        .right.floated.content.nationality
                          
                        i.globe.icon
                        .content
                          | Nationality
                      .item
                        .right.floated.content.gender
                          
                        i.venus.mars.icon
                        .content
                          | Gender
                      .item
                        .right.floated.content.dob
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Birth
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.verifier
                          
                        i.id.card.icon
                        .content
                          | ID
                      .item
                        .right.floated.content.number
                          
                        i.pencil.alternate.icon
                        .content
                          | Number
                      .item
                        .right.floated.content.name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.father_name
                          
                        i.male.icon
                        .content
                          | Father's Name
                      .item
                        .right.floated.content.gender
                          
                        i.venus.mars.icon
                        .content
                          | Gender
                      .item
                        .right.floated.content.dob
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Birth
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.edu_name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.edu_sid
                          
                        i.pencil.alternate.icon
                        .content
                          | Registration Number
                      .item
                        .right.floated.content.edu_degree
                          
                        i.graduation.cap.icon
                        .content
                          | Degree
                      .item
                        .right.floated.content.edu_college
                          
                        i.university.icon
                        .content
                          | Univerity
                      .item
                        .right.floated.content.edu_gender
                          
                        i.venus.mars.icon
                        .content
                          | Gender
                      .item
                        .right.floated.content.edu_end
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Graduation
                      .item
                        .right.floated.content.edu_city
                          
                        i.map.marker.alternate.icon
                        .content
                          | City
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.emp_name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.emp_eid
                          
                        i.pencil.alternate.icon
                        .content
                          | Employee Number
                      .item
                        .right.floated.content.emp_role
                          
                        i.briefcase.icon
                        .content
                          | Role
                      .item
                        .right.floated.content.emp_company
                          
                        i.building.icon
                        .content
                          | Company
                      .item
                        .right.floated.content.emp_gender
                          
                        i.venus.mars.icon
                        .content
                          | Gender
                      .item
                        .right.floated.content.emp_join
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Joining
                      .item
                        .right.floated.content.emp_city
                          
                        i.map.marker.alternate.icon
                        .content
                          | City
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.marriage_partner1_name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.marriage_partner2_name
                          
                        i.user.icon
                        .content
                          | Spouse's Name
                      .item
                        .right.floated.content.marriage_pastor
                          
                        i.users.icon
                        .content
                          | Witness
                      .item
                        .right.floated.content.marriage_date
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Marriage
                      .item
                        .right.floated.content.marriage_city
                          
                        i.map.marker.alternate.icon
                        .content
                          | City
              a.header.event_type
              .meta
                span.date Point here to know more
        template
          .card
            .content.con
              .ui.dimmer
                .content
                  .center
                    .ui.left.aligned.divided.list
                      .item
                        .right.floated.content.address_name
                          
                        i.user.icon
                        .content
                          | Name
                      .item
                        .right.floated.content.address_change_date
                          
                        i.calendar.alternate.icon
                        .content
                          | Date of Marriage
                      .item
                        .right.floated.content.address_old
                          
                        i.address.book.icon
                        .content
                          | Old Address
                      .item
                        .right.floated.content.address_new
                          
                        i.address.book.icon
                        .content
                          | New Address
              a.header.event_type
              .meta
                span.date Point here to know more
      #special_card1.ui.special.cards
